.footer{
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;  
    height:200px;
    text-align: center;
}
#footer-gauche{
    float: left;
    height: 80%;
    margin-top: 10px;
    margin-left: 200px;
}
#footer-droite{
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}
#mentions{
    position: relative;
    top: 10%;
    right: -5%;
    text-align: center;
    min-height: 30px;
    font-size: 1.2rem;
}
#contact{
    margin-top: 3%;
}
