.header{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
nav{
    position: relative;
    top: 30px;
    text-align: center;
    min-height: 30px;
    font-size: 1.2rem;
    }
nav a{
    color: white;
    text-decoration: none;
    font-family: "Copperplate Gothic Light";
}
nav   a:hover{
    color: #a9f5ff;
    transition: padding .2s;
}
.header li{
    display: inline;  
    list-style: none;
    margin: 10px;
}
.header a{
    display: inline-block;  
    line-height: 10px;
    padding: 0 5%;
}